#badge, #print-badge {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: darkorchid;
    transition: height 0.2s ease-in-out, background-color 0.3s ease;
    overflow: hidden;
}

#print-badge{
    display: none;
}
#badge:hover {
    height: 70px;
    background-color: darkorange;
}

#badge-title{
    flex-wrap: nowrap;
    color: white;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
}

#badge:hover #badge-title {
    transform: translateY(-25px);
}

#created-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    position: absolute;
    bottom: 5px;
}

#create-title{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 45px;
}

#create-author{
    margin-right: px;
    font-size: large;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#badge:hover #created-by {
    opacity: 1;
}

/* Show the print-badge in print view with only border and text visible */
@media print {
    
    /* Show the print-badge and its content */
    #print-badge, #print-badge * {
        visibility: visible;
    }

    /* Style the print-badge */
    #print-badge {
        display: block;
        border: 1px solid darkorchid;
        padding: 10px;
    }

    /* Style the badge-title */
    #badge-title {
        color: black;
    }

    /* Style the create-title and create-author */
    #create-title, #create-author {
        color: black;
        text-decoration: none;
    }
}