.basket{
    border: solid black 2px;
    border-radius: 10px;
    width: 37%;
    margin-left: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rest-title, #taken-title, .rest, .taken{
    border-top: solid lightgray 1px;
    padding: 10px;
}

#rest-title, #taken-title{
    font-weight: bold;
}

.rest{
    display:flex;
    align-items:center;
}

.index-text{
    position: relative;
    margin-right: 5px;
    text-align: left;
    background-color: lightgray;
    padding: 6px;
    border-radius: 10px;
}

.index-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.index-num{
    background-color: orange;
    color: white;
    padding: 3px;
    border-radius: 11px;
}