#basket{
    background-color: white;
    border-radius: 10px;
    width: 32%;
    margin-left: 3%;
    margin-right: 5%;
    font-family: "Fira Sans", sans-serif;
}

#rest-title, #taken-title, .rest, .taken{
    border-top: solid lightgray 1px;
    padding: 10px;
}

#rest-title, #taken-title{
    font-weight: bold;
}

#tomatoes-taken {
    text-decoration: line-through;
}

.rest{
    display:flex;
}

.index-text{
    position: relative;
    margin-right: 5px;
    text-align: left;
    background-color: lightgray;
    padding: 6px;
    border-radius: 10px;
}

.index-num{

    width: 40px;
    height: 30px;
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(227, 106, 0);
    color: white;
}