@media screen and (max-width: 500px) {
    .shop, .basket {
        float: none;
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
}

.shop, .basket{
    float: left;
    box-sizing: border-box;
    padding: 15px;
}

button {
    position: relative;
}

button::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    background-color:blueviolet;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;  /* to prevent the text from breaking lines */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    pointer-events: none;  /* the tooltip should not interfere with clicks on the button */
}

button:hover::after {
    visibility: visible;
    opacity: 1;
}