.shop, .basket{
    float: left;
    box-sizing: border-box;
    padding: 15px;
}

.shop{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 57%;
    margin-right: 3%;
}

.basket{
    background:turquoise;
    width: 37%;
    margin-left: 3%;
}

#search_bar,#add_button{
    float:left;
    box-sizing: border-box;
    padding: 5px;
}
#search_bar{
    width:75%;
}
#add_button{
    width: 25%;
    border-radius: 5px;
    border-color: cornflowerblue;
    box-shadow: 0px 3px darkslateblue;
    background-color:cornflowerblue;
}
