.shop, .basket{
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.shop{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 57%;
    margin-right: 3%;
}

.basket{
    background:turquoise;
    width: 37%;
    margin-left: 3%;
}

.search_bar,.add_button{
    float:left;
    box-sizing: border-box;
    padding: 5px;
}
.search_bar{
    width:73%;
    margin-right: 2%;
}
.add_button{
    width: 23%;
    margin-left: 2%;
    background-color:cornflowerblue;
    
}