.shop, .basket{
    float: left;
    box-sizing: border-box;
    padding: 15px;
}

.shop{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 57%;
    margin-right: 3%;
}

.goods{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.basket{
    background:turquoise;
    width: 37%;
    margin-left: 3%;
}

#search_bar,#add_button{
    float:left;
    box-sizing: border-box;
    padding: 5px;
}

#search_bar{
    width:75%;
}

#add_button{
    width: 25%;
    border-radius: 5px;
    border-color: cornflowerblue;
    box-shadow: 0px 3px darkslateblue;
    background-color:cornflowerblue;
}

.input_div, .goods-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}

.left, .center, .right {
    flex-basis: 33.33%;
    box-sizing: border-box;
    text-align: center;
}

.plus{
    background-color: green;
    border-color: green;
    color: white;
    border-radius: 14px;
}

.minus{
    background-color: red;
    border-color: red;
    color: white;
    border-radius: 14px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.counter{
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
}

.goods-panel{
    border-top: solid lightgray 2px;
}
#cheese-minus-button{
    background-color:palevioletred;
    border-color: palevioletred;
}